.dashboard {
    padding: 0;
    padding-bottom: 6rem;
    /* room above fixed footer */
}

.dashboard-header {
    /* make it a horizontal bar */
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem var(--pico-spacing);
    margin: 0 calc(-1 * var(--pico-spacing));
    /* full-bleed like rows */

    /* make it stick just under the app header */
    position: sticky;
    top: calc(var(--pico-spacing) + var(--app-header-height));
    /* if app-header is above in normal flow */
    z-index: 5;

    background-color: #909EBE;
}

/* Use theme aware to change dashboard-header background */

html[data-theme="dark"] .dashboard-header {
    background-color: #3D475C;
}

#add-mileage-btn {
    background-color: #687899;
    border-color: #687899;
}

.dashboard-header>.draft-label {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}

html[data-theme="dark"] .dashboard-header>.draft-label {
    color: #E1E5EB;
}

html[data-theme="light"] .dashboard-header>.draft-label {
    color: #3D475C;
}

.dashboard-body {
    padding: 0;
}

.dashboard-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    background: var(--pico-background-color);
    border-top: 1px solid var(--pico-muted-border-color);
}

.dashboard-footer button {
    width: 100%;
    max-width: 400px;
    margin-bottom: 0;
}

.dashboard-toast {
    margin-top: 0.5rem;
}

@media (min-width: 600px) {
    .dashboard-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}