.calculate-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--pico-card-sectioning-background-color);
    border-radius: var(--pico-border-radius);
}