:root {
    font-family: 'DM Sans', sans-serif;
    --app-header-height: 75px;
    --text-danger: #c62828;
    --text-ok: #2e7d32;
    --app-footer-height: 69px;
}

html,
body {
    height: auto;
    margin: 0;
}

body {
    overflow: auto;
    /* allow normal page scroll again */
}

main.container {
    padding-top: 0 !important;
}

.appbar {
    position: sticky;
    top: 0;
    z-index: 10;

    background: var(--pico-background-color);
}

nav.app-nav {
    border-bottom: 1px solid var(--pico-muted-border-color);
    padding-bottom: var(--pico-spacing);
}

#gelder-logo {
    display: block;
    width: 120px;
    /* set width, let height auto-scale from viewBox */
    height: auto;
    flex: 0 0 auto;
    /* if inside a flex bar */
    overflow: visible;
    /* keeps the underline from clipping */
    color: #C52F21;
}

svg text {
    fill: var(--pico-secondary) !important;
}