:root {
    font-family: 'DM Sans', sans-serif;
}

.appbar {
    position: sticky;
    top: 0;
    z-index: 10;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;
    padding-block: .5rem; */
    padding-left: var(--pico-spacing);
    padding-right: var(--pico-spacing);
    padding-bottom: 0.5rem;
    margin-left: calc(var(--pico-spacing) * -1);
    margin-right: calc(var(--pico-spacing) * -1);
    background: var(--pico-background-color);
    border-bottom: 1px solid var(--pico-muted-border-color);
}

#gelder-logo {
    display: block;
    width: 130px;
    /* set width, let height auto-scale from viewBox */
    height: auto;
    flex: 0 0 auto;
    /* if inside a flex bar */
    overflow: visible;
    /* keeps the underline from clipping */
    color: var(--pico-color);
}

svg text {
    fill: var(--pico-secondary) !important;
}