.vehicle-registration-modal header .heading {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0
}

.vehicle-registration-modal header .heading svg {
    width: 1.5rem;
    height: 1.5rem;
}

.vehicle-registration-modal header .subheading {
    margin: .25rem 0 0;
    color: var(--pico-muted-color);
}